.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;

}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url(images/animal-158236_1280.png);
    /* background-size: cover; */
}

.unicorn {
    background-image: url(images/unicorn-5939500_1280.png);
}